<ul>
    <li *ngFor="let apple of appleList">
        <div>
            Type:{{apple.name}}
        </div>
        <div>
            Colour:{{apple.colour}}
        </div>
    </li>
</ul>
<div>
    <form #appleForm="ngForm">
        <h4> Apple Form</h4>
        Name: <input type="text" [(ngModel)]="apple.name" name="name" required/> Colour: <input type="text" [(ngModel)]="apple.colour" name="colour" required/>
        <button type="" (click)="addApple()" [disabled]="appleForm.form.invalid">
        Add Apple
        </button>
        <!--{{renderAppleForm(appleForm)}}-->
    </form>
</div>