.welcome-container {
    background: url('../assets/lightning.jpeg') no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    color: white;
    padding: 15%;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.9rem;
    color: white;
    text-align: center;
}

.pulse-button-div {
    align-self: center;
    margin: 5% 0;
}

.pulse-button-div a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    padding: 20%;
    opacity: .6;

}

.pulse-button-div a:hover {
    opacity: .4;
}