.check-in {
    height: 20%;
    width: 100vw;
    background-color: black;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

a:hover {
    cursor: pointer;
}