h1 {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 2%;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

p {
    font-size: 1.5rem;
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

a:hover {
    cursor: pointer;
}

.encounters-listed {
    height: 300px;
    overflow: scroll;
}

button {
    border: none;
    color: white;
    font-size: 2.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: black;
}

button:hover {
    cursor: pointer;
}

div.report-encounter {
    width: 100vw;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
}