<div class="register-container">
    <h1> Register</h1> //to test

    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit($event,registerForm)">

        <input type="text" name="name" placeholder="Name" id="name" formControlName="name">
        <input type="number" min="18" max="180" step="1" placeholder="Age" id="age" formControlName="age">

        <select class="job" formControlName="job_id">
       
         <option [value] = "NO_JOB_SELECTED">--Select a job--</option>
         <option *ngFor = "let job of marsJobs" [value] = "job.id">{{job.name}}</option>
        </select>
        <button class="check-in">Check-in!</button>
    </form>


</div>